.blogpost__body {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 590px 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas: 'next-top main prev-top'
                        '. foot .';
}

@media screen and (max-width: 900px) {
  .blogpost__body {
    padding-top: 10px;
    max-width: 590px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: 'next-top prev-top'
                          'main main'
                          'foot foot';
  }
}

@media screen and (max-width: 900px) {
  .blogpost__body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
