.photo-grid__item {
  width: 100%;
  z-index: 0;
  box-sizing: border-box;
  transition: filter 0.2s ease;
}

@media (hover:hover) {
  .photo-grid__item:hover {
    cursor: pointer;
    filter: brightness(0.7);
  }
}
