.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'logo nav langs';
  height: 134px;
  align-items: center;
}

@media screen and (max-width: 1160px) {
  .header {
    box-sizing: border-box;
    padding: 0 20px;
  }
}

@media screen and (max-width: 830px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'langs'
                          'logo'
                          'nav';
    height: unset;
    gap: 20px;
    padding: 20px 0 40px;
  }
}

@media screen and (max-width: 539px) {
  .header {
    gap: 30px;
  }
}
