.header__langs {
  grid-area: langs;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-self: end;
}

@media screen and (max-width: 830px) {
  .header__langs {
    margin-right: 20px;
  }
}
